# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/

# Environment / secrets
.env
*.env
*.pem
secrets.json
credentials.json

# Airflow
airflow.db
airflow-webserver.pid
standalone_admin_password.txt
logs/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Local data outputs
data/*.csv
